/build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/misc.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/modules
/.idea/assetWizardSettings.xml
/.idea/codeStyles
/.idea
.idea/gradle.xml
.idea/compiler.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar